*{
 margin:0px;
 padding: 0px;
}

h1{
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.addItem{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.addItem input{
  margin-left:500px;
  margin-right: 500px;
  margin-top: 20px;
}

.addItem button{
  margin-left: 600px;
  margin-right: 600px; 
  margin-top: 20px;
}

.dataList{
  margin-left: 100px;
  margin-right: 100px; 
  margin-top: 20px;
}